<!-- Forgot password section starts here -->
<main class="mainContainer fixed top-0 left-0 w-full h-full">

    <section class="forgotPass-container w-full h-full flex">
        <div class="form-box bg-gray-50 py-8 px-16">
            <a routerLink="/"><img src="./assets/images/landing/footer-logo.png" alt="Logo image" width="250"></a>
            <h2 class="text-center mt-4">Forgot Password</h2>

            <form #formData="ngForm" (ngSubmit)="sendData(formData.value)" class="w-full flex flex-col gap-10 justify-center py-5 px-32 rounded-xl mt-4">
                <div class="input-box flex flex-col">
                    <label class="w-full text text-gray-500 mb-1 ml-2">Mobile</label>
                    <div class="input-group flex gap-4">
                        <div
                            class="flex items-center bg-white border border-gray-300 border-solid rounded-full py-2 px-6">
                            <img src="./assets/images/landing/flag-img.png" alt="" width="20" height="auto"><span
                                class="text font-semibold text-green-500 ml-2">252</span>
                        </div>
                        <input type="text" name="mobile" ngModel placeholder="Enter your mobile number"
                            class="flex-1 py-3 px-5 rounded-full border border-gray-300 border-solid outline-none font-medium">
                    </div>
                </div>

                <div class="form-btn flex flex-col items-center gap-4 px-2 mt-3">
                    <button type="submit"
                        class="w-48 bg-green-400 text-white border-2 border-green-400 border-solid outline-none text py-3 px-12 rounded-full font-medium hover:bg-green-500">SEND
                        OTP</button>
                    <div class="or-text text-lg text-gray-400 text-center">OR</div>
                    <a routerLink="/login"><button
                        class="w-48 text-green-500 border-2 border-green-500 border-solid outline-none text py-3 px-12 rounded-full font-medium hover:bg-green-500 hover:text-white">SIGN
                        IN</button></a>
                </div>

            </form>
        </div>

        <div class="image-box">
            <img src="./assets/images/landing/login-img.jpg" alt="" class="w-full h-full object-cover">
        </div>

    </section>

</main>

<!-- Forgot password section ends here -->