<main>
    <section class="flex w-full">
      <!-- <div class="max-w-64 w-64">
        <app-authenticated-sidebar></app-authenticated-sidebar>
      </div> -->
      <div class="flex-1 text-sm w-[calc(100%-16rem)]">
        <!-- <section class="fixed top-0 w-[calc(100%-16rem)] p-2 bg-white z-50">
          <app-authenticated-header></app-authenticated-header>
        </section> -->
        <section class="max-h-screen overflow-auto">
          <main class="w-full py-14 pl-10 flex flex-col gap-4">
            <main class="mainContainer">
              <div
                class="bottomSect box-border text-slate-600 p-3 mb-0 flex flex-col justify-between mx-auto overflow-hidden">
                <div class="msg-section w-full bg-gray-100 box-border">
                  <div class="msg-header bg-sky-400 flex justify-between items-center">
                    <div><i class="fa-solid fa-message mr-3 text-sky-400"></i>Help & Support</div>
                    <div class="dots"><i class="fa-solid fa-ellipsis-vertical mr-3 text-gray-100"></i></div>
                  </div>
  
                  <div class="msg-box">
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">Hii</p>
                      </div>
                      <span>03:35 PM</span>
                    </div>
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">How may I help you?</p>
                      </div>
                      <span>03:35 PM</span>
                    </div>
  
                    <div class="outgoing-msg flex flex-col items-end">
                      <p class="">Hii</p>
                      <span>03:36 PM</span>
                    </div>
                    <div class="outgoing-msg flex flex-col items-end">
                      <p class="">I am Kalam Ahmad</p>
                      <span>03:37 PM</span>
                    </div>
                    <div class="outgoing-msg flex flex-col items-end">
                      <p class="">I was getting an issue with my report</p>
                      <span>03:37 PM</span>
                    </div>
                    <div class="outgoing-msg flex flex-col items-end">
                      <p class="">Could you help me please??</p>
                      <span>03:38 PM</span>
                    </div>
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">Sure Sir</p>
                      </div>
                      <span>03:40 PM</span>
                    </div>
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">Please mention your issue properly</p>
                      </div>
                      <span>03:40 PM</span>
                    </div>
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">So that I could help you</p>
                      </div>
                      <span>03:41 PM</span>
                    </div>
                    <div class="outgoing-msg flex flex-col items-end">
                      <p class="">Okay Sure</p>
                      <span>03:42 PM</span>
                    </div>
                    <div class="incoming-msg flex flex-col items-start">
                      <div class="w-full flex"><img src="Images/no-image-found.png" alt="user image">
                        <p class="">Thank you 🙏🏼</p>
                      </div>
                      <span>03:42 PM</span>
                    </div>
                  </div>
                  <div class="msg-footer flex items-center justify-between">
                    <button class="button attach"><i class="fa-solid fa-paperclip"></i></button>
                    <input type="text" name="message" placeholder="Type Message">
                    <button class="button send"><i class="fa-solid fa-paper-plane"></i></button>
                  </div>
                </div>
              </div>
  
            </main>
  
          </main>
        </section>
        <ngx-spinner [fullScreen]="true" size="large" color="#FFFFFF" type="ball-spin-clockwise-fade">
          <p class="text-white text-2xl">Loading...</p>
        </ngx-spinner>
      </div>
    </section>
  </main>
  